  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
	
	
}

section{
    width: 100%;
    height: 100%;
	background-color:#FEDCD2;
	padding: 0px 5;
	overflow: hidden;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
	
    right: -300;
    left: -300;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

section nav .logo img{
    width: 130px;
	height:90px
    cursor: pointer;
    margin: 2px;
	margin-top:-3px;
}

section nav ul li{
    display: inline-block;
    margin: 20px;
	align-items: center;
	color: #000;
	font-weight: 700;
    font-size: 20px;
}

section nav ul li a:hover{
    color: #fac031;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 180px;
}

section .main .men_text h1{
    font-size: 50px;
    position: relative;
    top: -90px;
    left: 20px;
	padding:5px;
}

section .main .men_text h1 span{
    margin-left: 15px;
    color: #4C6444;
    font-family: mv boli;
    line-height: 22px;
    font-size: 80px;
}






/*About*/

.about{
    width: 100%;
    height: 90%;
    padding: 100px 3;
	background-color:#4d3227;
	overflow: hidden;
}

.about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
	
}

.about .about_main .image img{
    width: 540px;
	height:500px;
    position: relative;
    top: 30px;
}

.about .about_main .about_text h1 span{
    color: #4C6444;
    margin-right: 15px;
    font-family: mv boli;
}

.about .about_main .about_text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;

	
}

.about .about_main .about_text h3{
    font-size: 30px;
    margin: 0 0 50px 0;
	color:#c57b34;
}

.about .about_main .about_text p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
	position: relative;
	font-size:19px;
	color:#d79f69;
}

/*Our*/

.our{
    width: 100%;
    padding: 60px 0;
	background-color:#FDF5DF;
}

.our h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.our h1 span{
    color: #4D2D18;
    margin-left: 15px;
    font-family: mv boli;
}

/*explore jwells*/
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vmin;
  overflow: hidden;
  transform: skew(5deg);

  .card {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 75vmin;
    position: relative;
    .card__head {
      color: black;
      background: #4C6444;
      padding: 0.5em;
      transform: rotate(-90deg);
      transform-origin: 0% 0%;
      transition: all 0.5s ease-in-out;
      min-width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 1em;
      white-space: nowrap;
    }

    &:hover {
      flex-grow: 10;
      img {
        filter: grayscale(0);
      }
      .card__head {
        text-align: center;
        top: calc(100% - 2em);
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 2em;
        transform: rotate(0deg) skew(-5deg);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 1s ease-in-out;
      filter: grayscale(100%);
    }
    &:not(:nth-child(5)) {
      margin-right: 1em;
    }
  }
}



/*gallery*/

div.gallery {
	margin-top:3px;
	margin-bottom:3px;
  margin-right: 15px;
  float: right;
  width: 300px;
  
}

div.gallery:hover {
    transform: scale(0.95); 

}

div.gallery img {
  width: 100%;
  height: 300px;
  margin:3px;
}


.gallery1{
    width: 100%;
    padding: 20px 0;
	background-color:#FEDCD2;
	overflow:hidden;
}

.gallery1 h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.gallery1 h1 span{
    color: #4D2D18;
    margin-left: 15px;
    font-family: mv boli;
}



/*Footer*/

footer{
    width: 100%;
    padding: 30px 0 0 30px;
    background: #eeeeee;
	height:40%;
	overflow: hidden;
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
}

footer .footer_main .footer_tag{
    text-align: center;
	font-size:30px;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 20px;
    font-size: 70px;
}

footer .footer_main .footer_tag p{
    margin: 20px 0;
}